@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');
@import "tailwindcss";

* {
  font-family: "Montserrat", sans-serif;
}



/* Soft blend into circular background */
/* .phone-fade-bridge {
  background: radial-gradient(
    circle at center,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.25) 50%,
    rgba(255, 255, 255, 0.6) 70%,
    rgba(255, 255, 255, 0.95) 100%
  );
}

.circle-mask {
  mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 100%,
    rgba(0, 0, 0, 1) 62%,
    rgba(0, 0, 0, 0.9) 65%,
    rgba(0, 0, 0, 0.2) 68%,
    rgba(0, 0, 0, 0) 70%,
    rgba(0, 0, 0, 0) 110%
  );

  -webkit-mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 75%,
    rgba(0, 0, 0, 1) 75%,
    rgba(0, 0, 0, 0.9) 76%,
    rgba(0, 0, 0, 0.2) 68%,
    rgba(0, 0, 0, 0) 70%,
    rgba(0, 0, 0, 0) 110%
  );
}


@media (max-width: 640px) {
  .circle-mask {
    mask-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 1) 100%,
      rgba(0, 0, 0, 1) 50%,
      rgba(0, 0, 0, 0.9) 53%,
      rgba(0, 0, 0, 0.2) 56%,
      rgba(0, 0, 0, 0) 58%,
      rgba(0, 0, 0, 0) 110%
    );

    -webkit-mask-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 1) 65%,
      rgba(0, 0, 0, 1) 65%,
      rgba(0, 0, 0, 0.9) 66%,
      rgba(0, 0, 0, 0.2) 56%,
      rgba(0, 0, 0, 0) 58%,
      rgba(0, 0, 0, 0) 110%
    );
  }
}


@media (min-width: 641px) and (max-width: 1024px) {
  .circle-mask {
    mask-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 1) 100%,
      rgba(0, 0, 0, 1) 56%,
      rgba(0, 0, 0, 0.9) 59%,
      rgba(0, 0, 0, 0.2) 62%,
      rgba(0, 0, 0, 0) 64%,
      rgba(0, 0, 0, 0) 110%
    );

    -webkit-mask-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 1) 70%,
      rgba(0, 0, 0, 1) 70%,
      rgba(0, 0, 0, 0.9) 71%,
      rgba(0, 0, 0, 0.2) 62%,
      rgba(0, 0, 0, 0) 64%,
      rgba(0, 0, 0, 0) 110%
    );
  }
} */